body{
    box-sizing: border-box;
    padding: 4rem 15rem;
    background-color: hsl(212, 45%, 89%);
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    margin: 2rem 19rem;
    padding-bottom: 2rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    height: 100%;
}
img{
    height: 35vh;
    border-radius: 10px;
    margin-bottom: 1rem;
}
.con1{
    margin-bottom: 0.5rem;
}
.w1{
    font-weight: 600;
    font-family: Century Gothic;
    font-size: 18px;
    color: rgb(44, 43, 43);
}
.w2{
    font-weight: 400;
    font-size: 12px;
    font-family: Century Gothic;
    color: hsl(220, 15%, 55%);
}
@media only screen and (max-width:600px){
    body{
        padding: 2rem 1rem;
    }
    .container{
        margin: 2rem auto;
        height: 70vh;
    }
    img{
        width: 100%;
        height: 49vh;
    }
    .w1{
        font-size: 22px;
    }
    .w2{
        font-size: 16px;
        font-weight: 549.9;
    }
}
/* @media only screen and (min-width:768px){
    body{
        padding: 8rem 0rem;
    }
    .container{
        margin: 0rem 4rem;
        height: 70vh;
    }
    img{
        height: 54vh;
    }
    .w1{
        font-weight: 1400;
        font-size: 25px;
    }
    .w2{
        font-weight: 600;
        font-size: 21px;
    }
} */